[submodule "file-uploader"]
	path = file-uploader
	url = https://github.com/valums/file-uploader.git
[submodule "fpdf"]
	path = fpdf
	url = https://github.com/lsolesen/fpdf.git
[submodule "fpdi"]
	path = fpdi
	url = https://github.com/Reen/fpdi.git
